<h1>Diretores registrados</h1>
<br>
<%= link_to 'Cadastre um novo diretor', new_director_path %><br>
<table>
  <thead>
    <tr>
      <th>Diretor</th>
    </tr>
  </thead>
  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= link_to director.name, director_path(director.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>