<h1>Diretor <%=@director.name%></h1>

<table>
  <thead>
    <tr>
      <th>Diretor</th>
      <th>Editar Dados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @director.name %></td>
      <td><%= link_to 'Editar dados', edit_director_path(@director) %></td>
    </tr>
  </tbody>
</table>