
<h2>Filmes aguardando revisão (rascunho)</h2>
<ul>
  <li><%= link_to 'Cadastre um novo filme', new_movie_path %></li>
  <li><%= link_to 'Filmes registrados', movies_registreds_show_path %></li>
</ul>
<main><section>
    <h3>Filmes já lançados</h3>

  <%= render partial: 'info', local: { moviesn: @moviesn, moviesl: @moviesl } %>
</section>
</main>