<h2>Filmes registrados (publicados)</h2>
<ul>
  <li><%= link_to 'Cadastre um novo filme', new_movie_path %></li>
  <li><%= link_to 'Filmes aguardando revisão', movies_registreds_drafts_path %></li>
</ul>
<main><section>
    <h3>Filmes revisados</h3>
    <%= render partial: 'info', local: { moviesn: @moviesn, moviesl: @moviesl } %>

</section>
</main>