<main><section><p>
    Bem-vindo ao Catálogo de filmes! Aqui você tem acesso a filmes
    revisados, gêneros e diretores!
</p>

<div>
<ol>
    <li>
        Para consultar, editar ou cadastrar gêneros de filmes você deve acessar
        a opção <%= link_to "Consultar gêneros", genders_show_path %>.
    </li>
    <li>
        Para a consulta, cadastro ou edição de diretores acesse <%= link_to "Consultar diretores", directors_registreds_show_path%>;
    </li>
    <li>Para consultar, editar, revisar ou cadastrar filmes acesse <%= link_to 'Consultar filmes', movies_registreds_show_path %>.</li>
</ol>
</div>

</section></main>
