<h1>Lista de gêneros</h1>
<table>
  <thead>
    <tr>
      <th>Gênero</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @movie_gender.option %></td>
      <td><%= link_to 'Editar gênero', edit_movie_gender_path(@movie_gender) %></td>
    </tr>
  </tbody>
</table>