<h1>Gêneros registrados</h1>
<%= link_to 'Cadastre um novo gênero', new_movie_gender_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Gênero</th>
    </tr>
  </thead>
  <tbody>
    <% @movie_gender.each do |genre| %>
      <tr>
        <td><%= link_to genre.option, movie_gender_path(genre.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


